.search-hero {
    align-items: center;
  background-color: rgb(238 240 252 / 1);
  padding: 50px 0 0;
  /* height: ; */
  gap: 30px;
  position: relative;
  margin-bottom: 5rem;
}

.search-hero p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.search-hero h1 {
  font-size: 60px;
  font-weight: 700;
}

.search-bar {
  background-color: #fff;
  padding: 15px 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  gap: 10px;
}


.icon {
  background-color: #1e5dbc;
  color: #fff;
  font-size: 35px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
.icon:hover {
 background-color: #fff;
 color: #1e5dbc;
 scale:1.1;
 transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
}

.search-hero .search-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 25%);
  -webkit-transform: translate(-50%, 25%);
  -moz-transform: translate(-50%, 25%);
  -ms-transform: translate(-50%, 25%);
  -o-transform: translate(-50%, 25%);
  width: 60rem;
}



