.about{
    padding: 7rem 10rem ;
   justify-content: space-between;
}

.child{
align-items: flex-start;
}
.child1 img{
width: 35rem;
}
.child2 {
  gap: 40px;
}
.child2 .title{
    color: #1E5DBC;
    font-weight: 600;
}
.child2 h2{
    color: #2B4448;
    font-size: 26px;
    line-height: 27px;
}
.child2 p{
    color: #2B4448;
    font-size: 15px;
    line-height: 18px;
}
.child2 span img{
width: unset;
}
.child2 img{
width: 30rem;
}